<div class="nav-default-header__bounds categories-container">
  <ul class="categories-items">
      <li class="category-items__item all-categories open-menu" id="menu-button">
        {{> explorer/views/partials/menu}}
        <span class="category-items__link">Todos os Departamentos</span>
      </li>
        {{> explorer/views/partials/all-departments}}

      <li class="category-items__item">
        <a class="category-items__link" href="/solda_DisplayType_G">Solda</a>
      </li>
      <li class="category-items__item">
        <a class="category-items__link" href="/ferramentas-eletricas_DisplayType_G">Ferramentas Elétricas</a>
      </li>    
      <li class="category-items__item">
        <a class="category-items__link" href="/ferramentas-manuais_DisplayType_G">Ferramentas Manuais</a>
      </li>    
      <li class="category-items__item">
        <a class="category-items__link" href="/discos-de-corte_DisplayType_G">Discos de Corte</a>
      </li>    
  </ul>  
</div>